<!-- templates/registration/login.html -->
{% extends "base.html"%}
{% block title %} - logowanie{% endblock %}
{% block content%}
<div class="container">
  <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-3 left">
          <div class="card mb-4">
              <div class="card-body">
                <h2>Zaloguj się</h2>
                <form method="post" >
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">Zaloguj</button>
                  <a href="{% url 'home' %}" class="btn btn-danger">Anuluj</a>
                  </form>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
