<!DOCTYPE html>
<html>

    <head>
        <title>Blog piłkarski</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>

    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .masthead {
            background: green;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }
    </style>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Blog piłkarski</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item text-black">
                                <p class="nav-link text-black font-weight-bold" style = "font-size: 20px">Cześć, {{ user.username }}!</p>
                            </li>
                            {% if user.is_superuser %}
                                <li class="nav-item text-black">
                                    <a class="nav-link text-black font-weight-bold" href="{% url 'new_post' %}" style = "font-size: 20px">Dodaj post</a>
                                </li>
                                <li class="nav-item text-black">
                                    <a class="nav-link text-black font-weight-bold" href="{% url "admin:index" %}" style = "font-size: 20px">Panel administracyjny</a>
                                </li>
                            {% endif %}
                            <li class="nav-item text-black">
                                <a href="{% url 'logout' %}" class="nav-link text-black font-weight-bold" style = "font-size: 20px">Wyloguj</a>
                            </li>
                            {% else %}
                            <li class="nav-item text-black">
                                <a class="nav-link text-black font-weight-bold" style = "font-size: 20px" href="{% url 'login' %}">Logowanie</a>
                            </li>
                            <li class="nav-item text-black">
                                <a class="nav-link text-black font-weight-bold" style = "font-size: 20px" href="{% url 'signup' %}">Rejestracja</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class=" col-md-8 col-md-10 mx-auto" >
                        <div class="site-heading">
                            <h3 class="site-heading my-4 mt-3 text-white">Witaj na blogu!</h3>
                            <p class="text-light" style = "font-size: 18px">Kochamy piłkę nożną tak jak i Ty!</p>
                            {% load static %}
                            <img src="{% static 'photo.JPG' %}" alt="STOP WAR" width = "100%" height = "auto">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; Damian Sadowski - 2022</p>
        </footer>
    </body>
</html>
