{% extends "base.html"%}
{% block title %} - usuwanie posta{% endblock %}
{% block content%}
<div class="container">
  <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-3 left">
          <div class="card mb-4">
            <div class="card-body">
                <h2>Usuń post</h2>
                <form action="" method="post">{% csrf_token %}
                    <p>Czy na pewno chcesz usunąć post "{{ post.title }}"?</p>
                    <input type="submit" value="Potwierdź" class="btn btn-primary"/>
                    <a href="{% url 'post_detail' post.pk  %}" class="btn btn-danger">Anuluj</a>
                    </form>
            </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}